{% extends 'main.html' %}

{% block content %}




<div class="container">

    <div class="item create-private-assistant">
        <h5><b>Create Private Assistant</b></h5>
        <a href="{% url 'virtual_assistant' %}"><button>GO</button></a>

    </div>
    <div class="item ">

    </div>
    <div class="item ">

    </div>
    <div class="item ">

    </div>
    <div class="item ">

    </div>
    <div class="item ">

    </div>
    <div class="item ">

    </div>
    <div class="item ">

    </div>
    <div class="item ">

    </div>

</div>

{% endblock content %}