{% extends 'main.html' %}

{% block content %}
<style>
    .virtual_assistant {
        text-align: center;
    }

    .assistant {
        width: 73%;
        height: 500px;
        border: 1px solid black;
        margin: auto;
    }

    form {
        margin: 29px;
    }
</style>
<div class="virtual_assistant">
    <h1 class="title"><b>Create Yout Own Virtual Assistant</b></h1>
    <div class="assistant">

        <form action="{% url 'search_youtube' %}" method="POST">
            {% csrf_token %}
            <label for="">Search In Youtube</label>
            <br>
            <br>
            <input type="text" name="search" placeholder="Search">
            <input type="submit" value="Submit">
        </form>


    </div>
</div>
{% endblock content %}